<div class="options">
<p>
<label for="max_rounds">Rounds:</label><input name="max_rounds" value="<%= max_rounds %>">
</p> 
<p>
<label for="max_cards">Number of cards:</label><input name="max_cards" value="<%= max_cards %>">
</p>
<p>
<label for="round_time_limit">Time for round (s)</label><input name="round_time_limit" value="<%= round_time_limit %>">
</p>
<p>
<label for="number_of_teams">Number of teams</label><input name="number_of_teams" value="<%= number_of_teams %>">
</p>
<p>
<div class="buttons">
  <div class="left cancel">Cancel</div>
  <div class="right save">Save</div>
</div>
</p>
</div>
